<div class="posts">
    <% posts.forEach(post => { %>
      <div class="post">
        <a href="<%= post.link %>"><h2><%= post.title %></h2></a>
        <p>Publication Date: <%= post.pubDate %></p>
        <p>Creator: <%= post.creator %></p>
        <p>Category: <%= post.categories %></p>
        <p>Content: <%= post.content %></p>
      </div>
    <% }); %>
  </div>
